<div class="w-full max-w-screen-lg mx-auto h-96 flex flex-col border shadow-md bg-white">
  <div class='border-b'>
    <p class="mx-auto max-w-fit p-2"><%= room.full_title %></p>
  </div>

  <%= turbo_stream_from room %>

  <div id='chat-container' class="flex-1 px-4 py-4 overflow-y-auto">
    <%= turbo_frame_tag dom_id(room, :messages) do %>
      <%= render room.messages %>
    <% end %>
  </div>

  <%= form_with model: [@single_room, @message], data: { controller: 'chat-refresh', action: "turbo:submit-end->chat-refresh#clearInput", 'chat-refresh-room-value': room.name }, class: 'flex items-center border-t p-2' do |f| %>
    <%= f.text_field :body, required: true, placeholder: 'Aa', class: 'w-full rounded-full border border-gray-200' %>
    <%= f.button  class: 'inline-flex hover:bg-indigo-50 rounded-full p-2' do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
    <% end %>
  <% end %>
</div>
