<div class='flex h-svh'>
  <div class='grow-1 pt-10 shrink-0 flex flex-col px-4 bg-blue-100'>
    <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Users</h2>
    <ul class="max-h-32 overflow-y-auto space-y-1  text-gray-500 list-inside dark:text-gray-400">
      <% @users.each do |user| %>
        <li>
          <%= link_to user.email, '#', class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline'%>
        </li>
      <% end %>
    </ul>

    <h2 class="mb-2 mt-6 text-lg font-semibold text-gray-900 dark:text-white">Rooms</h2>

    <%= form_with model: @new_room, class: 'max-w-screen-md mb-2' do |f| %>
      <%= f.text_field :name, required: true, class: 'inline-block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.submit 'Create', class: 'inline-block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
    <% end %>

    <ul class="max-h-32 overflow-y-auto space-y-1 text-gray-500 list-inside dark:text-gray-400">
      <% @rooms.each do |room| %>
        <li>
          <%= link_to room.name, room_path(room), class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline'%>
        </li>
      <% end %>
    </ul>
  </div>

  <div class='grow pt-10'>
    <% if @single_room.present? %>
      <%= render 'room', room: @single_room %>
    <% end %>
  </div>
</div>

